body {
  color: #575757;
  background-image: url('../images/posts/bg.jpg');
}
.box-post {
  font-size: 18px;
  line-height: 2em;
  padding: 25px;
}
.box-post header {
  width: 100%;
  color: white;
  padding-top: 20px;
}
.box-post header .img-header {
  width: 100%;
  height: 100%;
}
.box-post header h2 {
  text-align: center;
}
.box-post main .title-post {
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-size: 15px;
  line-height: 1.2;
  background: white;
  padding: 20px 20px 10px 20px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}
.box-post main .title-post .informations {
  font-style: normal;
}
.box-post main .title-post .informations .table {
  margin-bottom: 5px;
}
.box-post main .title-post .informations .table .author {
  text-align: right;
}
.box-post main .title-post .informations .table .author i {
  font-size: 20px;
}
.box-post .img-post {
  width: 100%;
  max-height: 400px;
}
.box-post .container-post {
  text-align: justify;
}
