.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 80px;
  padding-top: 10px;
}
.navbar-posts-tw {
  background: #ffffff;
  box-shadow: 1px 0 22px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
  font-family: OpenSans-SemiBold, serif;
}
.nav > li > a {
  font-family: OpenSans-SemiBold, serif;
  color: #3a299c;
  font-size: 15px;
  transition: all .35s ease;
}
.nav > li > a:focus,
.nav > li > a:hover {
  color: #1b5cd7;
  background: #eee;
  border-radius: 4px 2px;
}
.search-post {
  border: 2px solid rgba(201, 201, 202, 0.6);
  border-radius: 5px;
}
.btn-default {
  border-radius: 2px;
}
.dropdown-menu > li > a {
  padding: 10px;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #5c1cd7;
  background-image: none;
  border: 1px solid #403cf5;
  border-radius: 4px;
}
.navbar-toggle .icon-bar {
  background: white;
}
.navbar-brand .logo {
  margin-top: -25px;
  width: 75px;
}
@media (max-width: 767px) {
  .navbar-collapse.in {
    margin-top: 23px;
  }
  .nav {
    text-align: center;
  }
  .nav > li > a {
    border-bottom: 1px solid #3c185a;
    color: #c1b6fd;
  }
  .navbar-posts-tw {
    background: #1e0a2f;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.8);
  }
  .nav > li > a:focus,
  .nav > li > a:hover {
    background: #fff;
  }
  .navbar-toggle {
    background-color: transparent;
    border: none;
  }
  .dropdown-menu > li > a {
    color: white;
  }
}
